<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Creator" value="Mortens" />
    <add key="PackageName" value="Test package" />
    <add key="PackageVersion" value="1.0.0" />
    <add key="Copyright" value="Copyright © 2019" />
    <add key="Description" value="This package is ..." />
    <add key="Tags" value="installer prerequisite" />
    <add key="IconUrl" value="" />
    <add key="ProjectUrl" value="http://w3.hdsnet.hu/mortens/" />
  </appSettings>
</configuration>